table td {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}


.container {
    margin-top: 20px;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}